<% if @created_events.exists? %>
  <h2>Your created events: </h2>
  <% @created_events.each do |event| %>
    <%= render partial: 'events/event', locals: { event: event } %>
  <% end %>
<% else %>
  <p>You haven't created any events.</p>
<% end %>

<% if @attended_events.exists? %>
  <h2>Your upcoming attended events: </h2>
  <% @attended_events.each do |event| %>
    <% if event.date > Date.today %>
      <%= render partial: 'events/event', locals: { event: event } %>
    <% end %>
  <% end %>
  <h2>Your past attended events: </h2>
  <% @attended_events.each do |event| %>
    <% if event.date < Date.today %>
      <%= render partial: 'events/event', locals: { event: event } %>
    <% end %>
  <% end %>
<% else %>
  <p>You aren't attending any events.</p>
<% end %>



